{% extends "base.html" %}

{% block title %}
<div class="d-flex">
    <a class="btn px-1 text-white" href="{{ url_for('main.index') }}">{{ _macros.icon_arrow_left("24", "24") }}</a>
    <div class="flex-grow-1"><input type="text" class="form-control rounded-2 border-0" placeholder="list name" id="textlistName" value="{{ cur_list.name }}"></div>
</div>
{% endblock %}

{% block content %}
<script>const list_id = "{{ cur_list.id }}"</script>

<div class="container-fluide p-2" id="listItemsWrapper">
    <div class="list-group" id="listItems">
        {% for list_item in cur_list.items %}
        {% if list_item.is_marked == 1 %}
        <div class="list-group-item bg-3 p-3" dbItemID="{{ list_item.item.id }}" isMarked="1">
        {% else %}
        <div class="list-group-item bg-2 p-3" dbItemID="{{ list_item.item.id }}" isMarked="0">
        {% endif %}
            <div class="d-flex fs-5">
                <div class="px-0">
                    <input class="form-check-input me-1" type="checkbox" value="" id="listCheckbox-{{ list_item.item.id }}" {% if list_item.is_marked == 1 %} checked {% endif %}>
                    </div>
                <div class="flex-grow-1 px-2">
                    <label role="button" class="form-check-label" for="listCheckbox-{{ list_item.item.id }}">{{ list_item.item.name }}</label>
                </div>
                <div role="button" class="deleteListItem">
                    {{ _macros.icon_delete("24", "24") }} 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
<div id="messageToast" class="toast text-bg-danger mb-2 w-100" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div id="messageToastText" class="toast-body px-2 py-1 text-white"></div>
    <button type="button" class="btn-close btn-close-black me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<div class="container px-0 mb-2" id="listOffersWrapper" style="display: none;">
    <div class="list-group" id="listOffers"></div>
</div>

<input type="text" class="form-control rounded-2 border-1 mb-1 flex-grow-1" placeholder="Start typing here" aria-label="Start typing here" id="searchInput" aria-describedby="btnGroupAddon">
{% endblock %}  

{% block scripts %}
    <script src="{{ url_for('static', filename='js/edit.js') }}?v={{ CURRENT_VERSION }}"></script>
{% endblock %} 

