{% extends "base.html" %}
{% block content %}
<nav class="navbar bg-body-tertiary mb-3">
    <div class="container" style="max-width: 800px;">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand d-flex" href="#">{{ TITLE }}</a>
            <input type="text" class="form-control flex-grow-1" value="{{ shopping_list.name }}">
            <a class="btn btn-warning d-flex ms-2" href="{{ url_for('main.index') }}">X</a>
        </div>
    </div>
</nav>

<div class="container" style="max-width: 800px;">
    {% if shopping_list %}
        <div class="list-group">
            {% for item in shopping_list.items %}
            <li class="py-3 bg-2 list-group-item list-group-item-action d-flex justify-content-between align-items-center" style="cursor: pointer;">
                <div class="flex-grow-1 fs-5">{{ item.item.name }}</div>
                <div class="d-flex">{{ _macros.icon_check(16,16) }}</div>
            </li> 
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}