{% extends "base.html" %}

{% block title %}
    <a class="btn btn-outline-secondary" href="{{ url_for('main.add_list') }}">New list</a>
{% endblock %}

{% block btn %}
    <a class="btn btn-outline-secondary" href="{{ url_for('auth.logout') }}">Logout</a>
{% endblock %}

{% block content %}
    <div class="container p-0" id="listItemsWrapper">
        <div class="list-group list-group-flush" id="listItems">
        
            {% if lists %}
        {% for slist in lists %}
            <div class="list-group-item" dbListId="{{ slist.id }}" isMarked="{{ slist.is_marked }}">
                <div class="d-flex">
                    <div class="flex-grow-1 px-0">
                        <a href="{{ url_for('main.list', id=slist.id) }}">{{ slist.name }}</a>
                    </div>
                    <div role="button" class="delete_list_item">
                        {{ _macros.icon_delete("16", "16") }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        
        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="checkboxShowComplited">
    <label class="form-check-label" for="checkboxShowComplited">Show completed</label>
</div>
{% endblock %}  

{% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %} 