<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}?v={{ CURRENT_VERSION }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v={{ CURRENT_VERSION }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='ico/favicon.ico') }}?v={{ CURRENT_VERSION }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}?v={{ CURRENT_VERSION }}">
    <title>{{ TITLE }}</title>
</head>
<body>
    {% import "macros.html" as _macros %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?v={{ CURRENT_VERSION }}"></script>
    <script>
        if (typeof navigator.serviceWorker !== 'undefined') {
            caches.keys().then(function(cacheNames) {
                cacheNames.forEach(function(cacheName) {
                caches.delete(cacheName);
                });
            });
            navigator.serviceWorker.register("{{ url_for('static', filename='js/sw.js') }}?v={{ CURRENT_VERSION }}")
        }
      </script>
    {% block scripts %}{% endblock %}  
</body>
</html>