<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <title>Sho-list</title>
</head>
<body>
    {% import "macros.html" as _macros %}
    <div class="position-relative fixed-top bg-success p-2 shadow">
        {% block title %}{% endblock %}
    </div>
    

    <div class="position-relative mt-2 overflow-scroll">
        {% block content %}{% endblock %}
    </div>

    <div class="p-2 w-100">
        {% block footer %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}{% endblock %}  
</body>
</html>